In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('googleplaystore.csv')

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
df.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [5]:
print("# of rows:",df.shape[0])
print("# of columns:",df.shape[1])

# of rows: 10841
# of columns: 13

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [9]:
df.describe(include='all')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [11]:
print("Total Number of App Titles Contain Astrology:",len(df[df['App'].str.contains('Astrology',case=False)]))

Total Number of App Titles Contain Astrology: 3

In [13]:
print("Average App Rating:",round(df['Rating'].mean(),2))

Average App Rating: 4.19

In [16]:
print("Total Number of Unique Categories:",df['Category'].nunique())

Total Number of Unique Categories: 34

In [22]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [29]:
print("Category Getting The Highest Average Rating:",df.groupby('Category').mean()['Rating'].head(1))

Category Getting The Highest Average Rating: Category
1.9    19.0
Name: Rating, dtype: float64

In [33]:
print("Total Number of App having 5 Star Rating:",len(df[df['Rating']==5]))

Total Number of App having 5 Star Rating: 274

In [41]:
df['Reviews'] = pd.to_numeric(df['Reviews'],errors='coerce').fillna(0)

In [43]:
print("Average Value of Reviews:",round(df['Reviews'].mean(),2))

Average Value of Reviews: 444111.93

In [51]:
df['Price'].value_counts()

0        10040
$0.99      148
$2.99      129
$1.99       73
$4.99       72
         ...
$1.59        1
$1.76        1
$1.29        1
$3.88        1
$2.50        1
Name: Price, Length: 93, dtype: int64

In [60]:
df.groupby('Price').count()

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Price,,,,,,,,,,,,
$0.99,148,148,107,148,148,148,148,148,148,148,146,148
$1.00,3,3,2,3,3,3,3,3,3,3,3,3
$1.04,1,1,0,1,1,1,1,1,1,1,1,1
$1.20,1,1,1,1,1,1,1,1,1,1,1,1
$1.26,1,1,0,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
$89.99,1,1,0,1,1,1,1,1,1,1,1,1
$9.00,2,2,2,2,2,2,2,2,2,2,2,2
$9.99,21,21,16,21,21,21,21,21,21,21,21,21
0,10040,10040,8719,10040,10040,10040,10039,10040,10040,10040,10034,10039
Everyone,1,1,1,1,1,1,1,0,1,1,1,0

In [61]:
print("Number of free apps:",len(df[df['Price'].str[0]=='0']))
print("Number of paid apps:",len(df[df['Price'].str[0]=='$']))

Number of free apps: 10040
Number of paid apps: 800

In [76]:
df[df['Reviews']==df['Reviews'].max()]['App'].to_string(index=False)

' Facebook'

In [79]:
print("App that has max. Reviews:"+df[df['Reviews']==df['Reviews'].max()]['App'].to_string(index=False))

App that has max. Reviews: Facebook

In [97]:
df.sort_values(by="Reviews",ascending=False)[['App','Reviews']].head()

                     App     Reviews
2544            Facebook  78158306.0
3943            Facebook  78128208.0
381   WhatsApp Messenger  69119316.0
336   WhatsApp Messenger  69119316.0
3904  WhatsApp Messenger  69109672.0

In [99]:
df['Reviews'].sort_values(ascending=False)

2544     78158306.0
3943     78128208.0
336      69119316.0
381      69119316.0
3904     69109672.0
            ...
5100            0.0
630             0.0
10762           0.0
4177            0.0
7735            0.0
Name: Reviews, Length: 10841, dtype: float64

0        Free
1        Free
2        Free
3        Free
4        Free
         ...
10836    Free
10837    Free
10838    Free
10839    Free
10840    Free
Name: Type, Length: 10840, dtype: object

In [142]:
df[~df['Type'].str.contains('0',na=False)].groupby('Type').mean()['Rating']

Type
Free    4.186203
Paid    4.266615
Name: Rating, dtype: float64

In [173]:
df['Installs']=df['Installs'].astype('str').str.replace('+','').str.replace(',','').str.replace('Free','0')

In [174]:
df['Installs'] = pd.to_numeric(df['Reviews'],errors='coerce').fillna(0)

In [175]:
df.sort_values(by="Installs",ascending=False)[['App','Installs']].head()

                     App    Installs
2544            Facebook  78158306.0
3943            Facebook  78128208.0
381   WhatsApp Messenger  69119316.0
336   WhatsApp Messenger  69119316.0
3904  WhatsApp Messenger  69109672.0